<section class="informacion informacion-home fon-secund-oscuro">
  
    <%- include("../02.componentes/figura.ejs") %> 
    
    <%- include("../01.elementos/cabecera-2.ejs",{
        css_class:'"cabecera-2 cabecera-2-informacion col-prim"',
        contenido:"Designed in 2020 by Aliza Webber"
    }) %> 
    
</section>