<nav class="navegacion-movil navegacion-movil-home fon-secund-oscuro" id="navegacion-movil">
    <div class="menu menunavegacion-movil">
        <span class="material-icons icono icono__cerrar col-prim" id="icono-cerrar-menu">clear</span>
    </div>

    <%- include("../02.componentes/lista.ejs",{
        css_class:'"lista lista__movil lista-navegacion-movil"'
    }) %>
</nav>