<figcaption class="descripcion descripcion-figura">
    <h1 class="cabecera-1 cabecera-1-descripcion col-prim">Rodney Cotton</h1>
    <h6 class="subtitulo-1 subtitulo-1-descripcion col-secund-gris">Helsinki, Finland</h6>
</figcaption>