<footer class="pie-pagina">
    <p class="parrafo parrafo-pie-pagina col-secund-gris-500 cuerpo-1">
        create by
        <a class="enlace enlace-pie-pagina col-secund-gris-500 cuerpo-1" href="https://devchallenges.io/portfolio/jean-carlos-19" target="_blank">
            <b class="negrita"> piguavejc </b>
        </a>
        -
        <a class="enlace enlace-pie-pagina col-secund-gris-500 cuerpo-1" href="https://devchallenges.io/" target="_blank">
            <b class="negrita"> devchallenges.io </b>
        </a>
    </p>
</footer>