<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Jean Carlos Piguave Alvarado" />
    <link rel="shortcut icon" href="../assets/img/devchallenges.png" type="image/png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <title>Checkout Page Master</title>
</head>

<body>
    <main class="home">

        <%- include("./02.componentes/encabezado.ejs") %>
        <%- include("./03.diseños/articulo.ejs") %>
        <%- include("./02.componentes/pie-pagina.ejs") %>

    </main>
</body>

</html>