.col-prim {
  color: var(--col-prim);
}
.col-prim-200 {
  color: var(--col-prim-200);
}
.col-secund-gris {
  color: var(--col-secund-gris);
}
.col-secund-blanco {
  color: var(--col-secund-blanco);
}
