.fon-prim {
  background-color: var(--col-prim);
}
.fon-prim-200 {
  background-color: var(--col-prim-200);
}
.fon-secund-gris {
  background-color: var(--col-secund-gris);
}
.fon-secund-blanco {
  background-color: var(--col-secund-blanco);
}
