@charset "utf-8";

/* 
Movil
  base:1440px
  altura:1080px
Escritorio
  base:375px
  altura:776

*/

@import "./01.resumenes/variables", "./01.resumenes/mixin";

/* @import "./02.proveedores/"; */

@import "./03.base/fuentes", "./03.base/animaciones", "./03.base/normalizar",
  "./03.base/fondo", "./03.base/colores", "./03.base/tipografia",
  "./03.base/base";

@import "./04.elementos/imagen", "./04.elementos/boton",
  "./04.elementos/parrafo";

@import "./05.componentes/descripcion", "./05.componentes/envio",
  "./05.componentes/figura", "./05.componentes/numeros_articulos",
  "./05.componentes/caja", "./05.componentes/terminos",
  "./05.componentes/mensaje", "./05.componentes/pie_pagina";

@import "./06.diseño/contenido", "./06.diseño/articulo", "./06.diseño/venta",
  "./06.diseño/campo", "./06.diseño/formulario", "./06.diseño/producto",
  "./06.diseño/tarjeta", "./06.diseño/fila";

@import "./07.paginas/home";

/* @import "./08.temas/"; */