<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="initial-scale=1.0" />
        <meta name="author" content="Jean Carlos Pigguave Alvarado" />
        <meta name="description" content=" pagina de error 404 " />
        <link rel="icon" type="image/png" href="..//assets/img/devchallenges.png" />
        <title>Pagina No Encontrada 404</title>
    </head>
    <body>
        <main class="home">
            
            <%- include('./02.componentes/encabezado.ejs') %>
            <%- include('./03.diseños/cuerpo.ejs') %>
            <%- include('./02.componentes/pie-pagina.ejs') %>

        </main>
    </body>
</html>