<section class="encabezado encabezado-cabecera">
    <%- include("../01.elementos/cabecera-3.ejs",{
        css_class:'"cabecera-3 cabecera-3-encabezado col-prim"',
        contenido:"THIS INTERIOR"
    }) %> 

    <%- include("../01.elementos/icono.ejs",{
        css_class:'"material-icons icono icono-encabezado col-prim"',
        icono:"menu",
        codigo:"icono-abrir-menu"
    }) %> 

</section>