<figcaption class="descripcion descripcion-figura">
    <h3 class="cabecera-6 cabecera-6-descripcion col-prim">Aliza Webber</h3>
    <span class="cuerpo-2 cuerpo-2-descripcion col-secund-gris-200">Interior Desinger</span>
</figcaption>