

<footer class="pie-pagina pie-pagina-home">
    <p class="parrafo parrafo-pie-pagina col-secund-gris-300 cuerpo-1">
        create by
        <a class="enlace enlace-pie-pagina cuerpo-1" href="https://devchallenges.io/portfolio/jean-carlos-19" target="-blank">
            <b class="negrita negrita-enlace">piguavejc</b>
        </a>
        -
        <a class="enlace enlace-pie-pagina cuerpo-1" href="https://devchallenges.io/" target="-blank">
            <b class="negrita negrita-enlace">devChallenges.io</b>
        </a>
    </p>
</footer>