<section class="descripcion descripcion-bienvenido">
    
    <%- include("../01.elementos/cabecera-1.ejs",{
        css_class:'"cabecera-1 cabecera-1-descripcion col-oscuro"',
        contenido:"Classic Cheesecake Recipe"
    }) %>
    
    <%- include("../01.elementos/cuerpo-2.ejs",{
        css_class:'"parrafo parrafo-descripcion col-secund-gris-200 cuerpo-2"',
        contenido:"Look no further for a creamy and ultra smooth classic cheesecake recipe! Paired with a buttery graham cracker crust, no one can deny its simple decadence. For the best results, bake in a water bath."
    }) %>

</section>