<footer class="pie-pagina">
    <p class="parrafo parrafo-pie-pagina col-secund-gris-300 cuerpo-1">
        created by
        <a class="enlace enlace-pie-pagina col-secund-gris-300 cuerpo-1" href="https://devchallenges.io/portfolio/jean-carlos-19" target="-blank">
            <b class="negrita">
                piguavejc
            </b>
        </a>
        -
        <a class="enlace enlace-pie-pagina col-secund-gris-300 cuerpo-1" href="https://devchallenges.io/" target="-blank">
            <b class="negrita">
                devChallenges.io
            </b>    
        </a>
    </p>
</footer>