<footer class="referencia">
    <p class="parrafo parrafo-referencia cuerpo-2">
        <a
            class="enlace enlace-referencia col-secund-gris-400 cuerpo-2"
            href="https://sallysbakingaddiction.com/classic-cheesecake/"
            target="-blank"
        >
            Source: https://sallysbakingaddiction.com/classic-cheesecake/
        </a>
    </p>
</footer>