<form class= <%- css_class %> >
    <%- include("../01.elementos/etiqueta.ejs",{
        cs_class:'"etiqueta etiqueta-formulario col-secund-gris-400 cuerpo-2"',
        codigo:"email",
        contenido:"Want us to contact you?"
    }) %> 
   <%- include("../02.componentes/campo.ejs") %> 
</form>