<section class="lider">
    <%- include("../01.elementos/cabecera-2.ejs",{
        css_class:'"cabecera-2 cabecera-2-lider col-secund-gris-200"',
        contenido:"“Fast and outstanding resutls. Edie understands their customer’s needs. They have a young and talented team.”"
    }) %>
  
    <figure class="figura figura-lider">
        <%- include("../01.elementos/imagen.ejs",{
            css_class:'"imagen imagen-figura"',
            fuente:'"../assets/img/persona4.png"',
            descripcion:'"persona 4"',
        }) %>
        <%- include("../02.componentes/detalle.ejs") %>
        
    </figure>
</section>