<section class="publicidad publicidad-bienvenido">
    <%- include("../01.elementos/cabecera-2.ejs",{
        css_class:'"cabecera-2 abecera-2-publicidad col-secund-gris-200"',
        contenido:"Story, emotion and purpose"
    }) %> 
    <%- include("../01.elementos/cuerpo-2.ejs",{
        css_class:'"cuerpo-2 cuerpo-2-publicidad col-secund-gris-300"',
        contenido:"We help transform your ideas into real world applications that will outperform your toughest competition and help you achieve your strategic goals in short period of time."
    }) %>
   
    <%- include("./formulario.ejs",{
        css_class:'"formulario formulario-bienvenido"'
    }) %> 
    
</section>