<section class="redes-sociales redes-sociales-contenido">
    <%- include("../01.elementos/cabecera-1.ejs",{
        css_class:'"cabecera-1 cabecera-1-redes-sociales col-secund-gris-700"',
        contenido:"Edie"
    }) %> 

    <%- include("../02.componentes/lista-redes.ejs",{
        css_class:'"lista lista-redes-sociales"'
    }) %> 

</section>