<div class="informacion informacion-perfil">
    <%- include("../02.componentes/contenido.ejs",{
        cantidad:"100",
        titulo:"Posts"
    }) %> 
    <%- include("../02.componentes/contenido.ejs",{
        cantidad:"2,242",
        titulo:"Followers"
    }) %> 
    <%- include("../02.componentes/contenido.ejs",{
        cantidad:"1,432",
        titulo:"Following"
    }) %> 
</div>