.home {
  max-width: var(--ancho-maximo-home);
  margin: 0 auto;
  padding: var(--relleno-home);
  animation: apareceSitio 1s ease-in 0s;

  & > header + section {
    margin-top: 5rem; /* (80/16) */
  }
}
