<div class="caja caja-campo">
    <%- include("../01.elementos/icono.ejs",{
        icono
    }) %> 

    <%- include("../01.elementos/entrada.ejs",{
        tipo,
        name,
        id
    }) %> 
</div>