<footer class="pie-pagina pie-pagina-home">
    <p class="parrafo parrafo-pie-pagina col-gris-400 cuerpo-1">
        create by
        <a class="encace enlace-pie-pagina cuerpo-1" href="https://devchallenges.io/portfolio/jean-carlos-19" target="_blank">
            <b class="negrita">
                piguavejc
            </b>
        </a>
        -
        <a class="encace enlace-pie-pagina cuerpo-1" href="https://devchallenges.io/" target="_blank">
            <b class="negrita"> 
                devChallenges.io
            </b>
        </a>
    </p>
</footer>