<div class="terminos terminos-fila">
    <%- include("../01.elementos/check.ejs") %> 
    <%- include("../01.elementos/etiqueta.ejs",{
        css_class:'"etiqueta etiqueta-terminos col-gris-200 cuerpo-2"',
        id:"terminos",
        nombre:"Save this information for next times"
    }) %> 
</div>