.col-prim {
  color: var(--col-prim);
}
.col-secund-gris {
  color: var(--col-secund-gris);
}
.col-secund-gris-400 {
  color: var(--col-secund-gris-400);
}
.col-secund-gris-500 {
  color: var(--col-secund-gris-500);
}
.col-secund-gris-600 {
  color: var(----col-secund-gris-600);
}
