.imagen {
    max-width: 10.9375rem;/* (175 / 16) */
    max-height: 8.5rem;/* (136 / 16) */
    min-width: 10.0625rem;/* (161 / 16) */
    min-width: 7.8125rem;/* (125 / 16) */
    object-fit: cover;
}
