@charset "utf-8";

/*
movil
  base: 375px;
  altura: 667px;

  escritorio
  base: 1440px;
  altura: 1489px;
*/

@import "./01.resumenes/variable", "./01.resumenes/mixin";

/* @import "./02.proveedores/"; */

@import "./03.base/fuentes", "./03.base/animaciones", "./03.base/normalizar", "./03.base/base";


@import "./05.componentes/bienvenido","./05.componentes/encabezado", "./05.componentes/pie_pagina",
 "./05.componentes/tarjeta", 
 "./05.componentes/figura";

@import "./06.diseños/cabecera", "./06.diseños/imagenes";

@import "./07.paginas/home";

/* @import "./08.temas/*"; */