.col-prim {
  color: var(--col-prim);
}
.col-oscuro {
  color: var(--col-oscuro);
}
.col-gris-100 {
  color: var(--col-gris-100);
}
.col-gris-200 {
  color: var(--col-gris-200);
}
.col-gris-300 {
  color: var(--col-gris-300);
}
.col-gris-400 {
  color: var(--col-gris-400);
}
.col-gris-500 {
  color: var(--col-gris-500);
}
.col-gris-600 {
  color: var(--col-gris-600);
}
.col-blanco {
  color: var(--col-blanco);
}
.col-rojo {
  color: var(--col-rojo);
}
.col-verde {
  color: var(--col-verde);
}
