.fon-prim {
  background-color: var(--col-prim);
}
.fon-oscuro {
  background-color: var(--col-oscuro);
}
.fon-gris-100 {
  background-color: var(--col-gris-100);
}
.fon-gris-200 {
  background-color: var(--col-gris-200);
}
.fon-gris-300 {
  background-color: var(--col-gris-300);
}
.fon-gris-400 {
  background-color: var(--col-gris-400);
}
.fon-gris-500 {
  background-color: var(--col-gris-500);
}
.fon-gris-600 {
  background-color: var(--col-gris-600);
}
.fon-blanco {
  background-color: var(--col-blanco);
}
.fon-rojo {
  background-color: var(--col-rojo);
}
.fon-verde {
  background-color: var(--col-verde);
}
