.home {
    padding: 1rem;

    &>*+* {
        margin-top: 2.25rem;
    }

    .form-home {
        min-width: 21.9375rem;
        min-height: 8.625rem;
        border-radius: 8px;
        background: url('/backgroundImg.png');
        background-repeat: no-repeat;
        /*Centramos el fondo al centro*/
        background-position: center;
        /*Y le decimos que siempre ocupe el ancho y el alto con esto*/
        background-size: cover;
        @include display-flex(row, center, center);

        .search {
            width: inherit;
            padding: .1rem .1rem .1rem 1rem;
            border-radius: .25rem;
            box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
            @include display-flex(row, flex-start, center);
            &>*+*{
                margin-left: .5rem;
            }

            .icon-search{
               flex: 0 1 5%;
            }

            .field-search{
                flex: 0 1 60%;
            }

            .button-search{
                flex: 0 1 25%;
                border-radius: .25rem;
                padding: .75rem 1.5rem;
            }
        }
    }
}