.col-prim {
  color: var(--col-prim);
}
.col-secund-rojo-100 {
  color: var(--col-rojo-100);
}
.col-secund-gris-100 {
  color: var(--col-secund-gris-100);
}
.col-secund-gris-200 {
  color: var(--col-secund-gris-200);
}
.col-secund-gris-300 {
  color: var(--col-secund-gris-300);
}
.col-secund-gris-400 {
  color: var(--col-secund-gris-400);
}
.col-secund-gris-500 {
  color: var(--col-secund-gris-500);
}
.col-secund-gris-600 {
  color: var(--col-secund-gris-600);
}
.col-secund-gris-700 {
  color: var(--col-secund-gris-700);
}
.col-oscuro-100 {
  color: var(--col-oscuro-100);
}
.col-oscuro-200 {
  color: var(--col-oscuro-200);
}
.col-verde-100 {
  color: var(--col-verde-100);
}
.col-blanco-100 {
  color: var(--col-blanco-100);
}
.col-rojo-100 {
  color: var(--col-rojo-100);
}
.col-piel-100 {
  color: var(--col-piel-100);
}
