.fon-prim {
  background-color: var(--col-prim);
}
.fon-secund-rojo-100 {
  background-color: var(--col-rojo-100);
}
.fon-secund-gris-100 {
  background-color: var(--col-secund-gris-100);
}
.fon-secund-gris-200 {
  background-color: var(--col-secund-gris-200);
}
.fon-secund-gris-300 {
  background-color: var(--col-secund-gris-300);
}
.fon-secund-gris-400 {
  background-color: var(--col-secund-gris-400);
}
.fon-secund-gris-500 {
  background-color: var(--col-secund-gris-500);
}
.fon-secund-gris-600 {
  background-color: var(--col-secund-gris-600);
}
.fon-secund-gris-700 {
  background-color: var(--col-secund-gris-700);
}
.fon-oscuro-100 {
  background-color: var(--col-oscuro-100);
}
.fon-oscuro-200 {
  background-color: var(--col-oscuro-200);
}
.fon-verde-100 {
  background-color: var(--col-verde-100);
}
.fon-blanco-100 {
  background-color: var(--col-blanco-100);
}
.fon-rojo-100 {
  background-color: var(--col-rojo-100);
}
.fon-piel-100 {
  background-color: var(--col-piel-100);
}
