/* Paleta de colores */

@mixin colors {
  --color-white-100: #ffffff;
  --color-white-200: #F2F2F2;
  --color-white-300: #F6F7FB;
  --color-gray-100: #B9BDCF;
  --color-gray-200: #B7BCCE;
  --color-gray-300: #BDBDBD;
  --color-blue-100: #1E86FF;
  --color-blue-200: #334680;
  --color-blue-300: #282538;
}
