.bg-white-100{
    background-color:var(--color-white-100);
}
.bg-white-200{
    background-color:var(--color-white-200);
}
.bg-white-300{
    background-color:var(--color-white-300);
}

.bg-gray-100{
    background-color:var(--color-gray-100);
}
.bg-gray-200{
    background-color:var(--color-gray-200);
}
.bg-gray-300{
    background-color:var(--color-gray-300);
}

.bg-blue-100{
    background-color:var(--color-blue-100);
}
.bg-blue-200{
    background-color:var(--color-blue-200);
}
.bg-blue-300{
    background-color:var(--color-blue-300);
}