.color-white-100{
    color:var(--color-white-100);
}
.color-white-200{
    color:var(--color-white-200);
}
.color-white-300{
    color:var(--color-white-300);
}

.color-gray-100{
    color:var(--color-gray-100);
}
.color-gray-200{
    color:var(--color-gray-200);
}
.color-gray-300{
    color:var(--color-gray-300);
}

.color-blue-100{
    color:var(--color-blue-100);
}
.color-blue-200{
    color:var(--color-blue-200);
}
.color-blue-300{
    color:var(--color-blue-300);
}