<div class="bienvenido bienvenido-home" id="bienvenido">
    
    <%- include("../01.elementos/cuerpo-2.ejs",{
        css_class:'"cuerpo-2 cuerpo-2-bienvenido col-prim"',
        contenido:"Unhappy with your website?"
    }) %>

    <%- include("../01.elementos/cabecera-2.ejs",{
        css_class:'"cabecera-2 cabecera-2-bienvenido col-secund-gris-200"',
        contenido:"We create beautiful and fast web services"
    }) %> 
</div>