<div class="campo campo-formulario fon-secund-gris-700">
    <%- include("../01.elementos/email.ejs",{
        cs_class:'"texto texto-campo col-secund-gris-500 cuerpo-1"',
        codigo:"email",
        descripcion:"Email"
    }) %> 
    <%- include("../01.elementos/boton.ejs",{
        cs_class:'"boton boton-campo fon-prim col-secund-gris-700 cuerpo-1"',
        valor:"join"
    }) %> 
</div>