<header class="bienvenido bienvenido-cuerpo">
    
    <h2 class="cabecera-1 cabecera-1-bienvenido col-prim">I have bad news for you</h2>
    <%- include("../01.elementos/parrafo.ejs") %> 
    <%- include("../01.elementos/enlace.ejs") %>
    
</header>