<footer class="pie-pagina pie-pagina-home">
    <p class="parrafo parrafo-pie-pagina col-secund-gris cuerpo-2">
        created by
        <a
            class="enlace enlace-parrafo col-secund-gris cuerpo-2"
            href="https://devchallenges.io/portfolio/jean-carlos-19"
            target="_blank"
            rel="noreferrerse"
        >
            <b class="negrita negrita-enlace">piguavejc</b>
        </a>
        -
        <a
            class="enlace enlace-parrafo col-secund-gris cuerpo-2"
            href="https://devchallenges.io/"
            target="_blank"
            rel="noreferrerse"
            >
            <b class="negrita negrita-enlace"> devChallenges.io </b>
        </a
        >
    </p>
</footer>