.proyectos {
  width: 100%;
  & > * + * {
    margin-top: 2.25rem; /* (36 / 16) */
  }

  .cabecera-2-proyectos {
    padding: 1.375rem; /* (22 / 16) */
    border-radius: var(--tamano-borde);
  }

  .contenido-proyectos {
    overflow: auto;
    @include display-flex(row, flex-start, stretch);
    & > * + * {
      margin-left: 1rem; /* (16 / 16) */
    }
  }

  @media screen and (min-width: 62.5rem) {
    max-width: 1046px;
  }
}
