/* Colores */

.col-prim {
  color: var(--col-prim);
}

.col.secund-oscuro {
  color: var(--col-secund-oscruro);
}

.col-secund-gris-200 {
  color: var(--col-secund-gris-200);
}

.col-secund-gris-200 {
  color: var(--col-secund-gris-200);
}

.col-secund-gris-300 {
  color: var(--col-secund-gris-300);
}
