<section class="encabezado encabezado-cabecera">
    <%- include("../01.elementos/cabecera-1.ejs",{
        css_class:'"cabecera-1 cabecera-1-encabezado col-prim"',
        contenido:"The creative crew"
    }) %> 
</section>