<footer class="pie-pagina">
    <p class="apartado apartado-pie-pagina  col-secund-gris">
        created by
        <a class="enlace enlace-pie-pagina" href="https://devchallenges.io/portfolio/jean-carlos-19" target="_blank">
            <b class="negrita">
                piguavejc
            </b>
        </a>
        -
        <a class="enlace enlace-pie-pagina" href="https://devchallenges.io/" target="_blank">
            <b class="negrita"> 
                devChallenges.io 
            </b>
        </a>
    </p>
</footer>