<section class="ingredientes ingredientes-informacion">

    <%- include("../01.elementos/cabecera-2.ejs",{
        css_class:'"cabecera-2 cabecera-2-ingredientes col-secund-gris-100"',
        contenido:"Ingredients"
    }) %>

    <%- include("./tarjeta.ejs") %> 

</section>