<section class="blog">
  <h6 class="cabecera-2 cabecera-2-experiencia fon-blanco-100 col-gris-200">Blog</h6>
  <section class="publicacion publicacion-blog fon-blanco-100">
    <figure class="figura figura-publicacion">
      <img
        class="imagen imagen-figura"
        src="./assets/img/escritorio.jpg"
        alt=""
      />
    </figure>

    <figcaption class="descripcion descripcion-blog">
      <h2 class="cabecera-1 cabecera-1-descripcion col-oscuro-100">
        How to organize your CSS
      </h2>
      <p class="cuerpo-1 cuerpo-1-descripcion col-gris-300">
        In this article I tell the story about Proin eu justo sit
        amet lacus bibendum tincidunt. Vivamus non volutpat nisl, a
        luctus mi.
      </p>
      <p class="cuerpo-1 cuerpo-1-descripcion col-gris-300">
        Donec aliquam est dui, vel vestibulum diam sollicitudin id.
        Quisque feugiat malesuada molestie.
      </p>
      <a class="enlace enlace-descripcion col-azul-100"  href="">dev.to</a>
    </figcaption>
  </section>
</section>