<figcaption class="descripcion descripcion-presentacion">
    <div class="fila fila-descripcion">
      <div class="columna columna-fila">
        <h2 class="cabecera-1 cabecera-1-descripcion col-gris-200">Jean Carlos</h2>
        <p class="cuerpo-1 cuerpo-1-descripcion col-gris-300">
          Full-stack
        </p>
      </div>
      <ul class="columna columna-fila">
        <li class="item item-columna">
          <span class="material-icons icono icono-item col-gris-200">
            markunread
          </span>
          <p class="cuerpo-1 cuerpo-1-item col-gris-200">piguavejc@gmail.com</p>
        </li>
        <li class="item item-columna">
          <span class="material-icons icono icono-item col-gris-200">
            phone
          </span>
          <p class="cuerpo-1 cuerpo-1-item col-gris-200">(+593) 983 526 509</p>
        </li>
      </ul>
      <ul class="columna columna-fila">
        <li class="item item-columna">
          <span class="material-icons icono icono-item col-gris-200">
            article
          </span>
          <a href="./assets/img/curriculo-Jean-Piguave.pdf" target="_blank">
            <p class="cuerpo-1 cuerpo-1-item col-gris-200">curriculo</p>
          </a>
        </li>
        <li class="item item-columna">
          <span class="material-icons icono icono-item col-gris-200">
            data_object
          </span>
          <a href="https://github.com/jean-carlos-19" target="_blank">
            <p class="cuerpo-1 cuerpo-1-item col-gris-200">@piguavejc</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="fila fila-descripcion">
      <p class="cuerpo-1 cuerpo-1-fila col-gris-300">
        Soy estudiante egresado de la universidad, apasionado por el desarrollo web y aprender nuevas tecnologías en esta área. Me gustan nuevos retos que me desafíen a salir de mi zona de confort, como lo seria la I.A, complejidad algorítmica etc.
      </p>
    </div>
</figcaption>