<section class="presentacion presentacion-home fon-blanco-100">
    <figure class="figura figura-presentacion">
      <img
        class="imagen imagen-figura"
        src="./assets/img/usuario.webp"
        alt=""
      />
    </figure>
    <%- include("./descripcion.ejs")  %> 
</section>