<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Jean Carlos Piguave Alvarado - piguavejc@mail.com" />
        <link rel="shortcut icon" href="../assets/img/devchallenges.png" type="image/png" />
        <title>My Gallery Master</title>
    </head>
    <body>
        <main class="home">
            <%- include("./03.diseños/perfil.ejs") %> 
            <%- include("./03.diseños/galeria.ejs") %> 
            <%- include("./02.componentes/pie-pagina.ejs") %>  
        </main>
    </body>
</html>
