.col-prim {
  color: var(--col-prim);
}
.col-secund-gris-100 {
  color: var(--col-secund-gris-100);
}
.col-secund-gris-200 {
  color: var(--col-secund-gris-200);
}
.col-secund-gris-300 {
  color: var(--col-secund-gris-300);
}
.col-secund-gris-400 {
  color: var(--col-secund-gris-400);
}
.col-blanco {
  color: var(--col-blanco);
}
.col-blanco-100 {
  color: var(--col-blanco-100);
}
.col-oscuro {
  color: var(--col-oscuro);
}
