{
    "presets": ["@babel/preset-env"],
    "plugins": [
        "module-resolver",
        {
          "root": ["./"],
          "alias": {
            "@elementos/*": "./src/ts/01.elementos",
          }
        }
    ]
}